body {
    background-image: url("background.jpg");
    color: #ffffff; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.site-header {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo img {
    width: 50px; 
    height: auto; 
}



.table-dark {
    background-color: #343a40;
}

.table-hover tbody tr:hover {
    background-color: #464e56;
}

.table th, .table td {
    border-top: 1px solid #4f5b62;
}

.table thead th {
    border-bottom: 2px solid #4f5b62;
}

.table-responsive {
    margin-bottom: 20px;
}

.site-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.site-header {
    background-color: #387F9E;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.site-nav {
    background-color: #68D2E2;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    background-color: #289aac;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.section-title {
    color: #FFD700;
}

.site-footer {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.content div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
}

















.ocean {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0b517b, #1e88b5);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bubble {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: bubble 4s ease-in-out infinite;
}

.fish {
    position: absolute;
    width: 80px;
    height: auto;
    animation: swim 8s ease-in-out infinite;
}

.seaweed {
    position: absolute;
    background-color: #1abc9c;
    width: 6px;
    height: 100px;
    bottom: 0;
    animation: seaweed 3s ease-in-out infinite;
}

@keyframes bubble {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-100px) scale(0.8);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes swim {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes seaweed {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.8);
    }
    100% {
        transform: scaleY(1);
    }
}
